/*기본 css*/

body{
    font-family: 'NotoSans',sans-serif;
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}

.inner{
    width: 1200px;
    margin: 0 auto;
}
.cf:after{
    content:"";
    display: block;
    clear: both;
}
#wrap{
    width: 100%;
}