/*NotoSanse*/
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    src: local('NotoSans'),
        url('NotoSans-Thin.woff2') format('woff2'), 
        url('NotoSans-Thin.woff') format('woff'),
        url('NotoSans-Thin.ttf') format('truetype'),
        url('NotoSans-Thin.otf') format('opentype'),
        url('NotoSans-Thin.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 200;
    src: local('NotoSans'),
        url('NotoSans-Light.woff2') format('woff2'), 
        url('NotoSans-Light.woff') format('woff'),
        url('NotoSans-Light.ttf') format('truetype'),
        url('NotoSans-Light.otf') format('opentype'),
        url('NotoSans-Light.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 300;
    src: local('NotoSans'),
        url('NotoSans-Thin.woff2') format('woff2'), 
        url('NotoSans-Thin.woff') format('woff'),
        url('NotoSans-Thin.ttf') format('truetype'),
        url('NotoSans-Thin.otf') format('opentype'),
        url('NotoSans-Thin.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSans'),
        url('NotoSans-Regular.woff2') format('woff2'), 
        url('NotoSans-Regular.woff') format('woff'),
        url('NotoSans-Regular.ttf') format('truetype'),
        url('NotoSans-Regular.otf') format('opentype'),
        url('NotoSans-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: local('NotoSans'),
        url('NotoSans-Bold.woff2') format('woff2'), 
        url('NotoSans-Bold.woff') format('woff'),
        url('NotoSans-Bold.ttf') format('truetype'),
        url('NotoSans-Bold.otf') format('opentype'),
        url('NotoSans-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 900;
    src: local('NotoSans'),
        url('NotoSans-Black.woff2') format('woff2'), 
        url('NotoSans-Black.woff') format('woff'),
        url('NotoSans-Black.ttf') format('truetype'),
        url('NotoSans-Black.otf') format('opentype'),
        url('NotoSans-Black.eot') format('embedded-opentype');
}


/*나눔고딕*/
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 100;
    src: local('※'),
        url('NanumGothicR.woff2') format('woff2'), 
        url('NanumGothicR.woff') format('woff'),
        url('NanumGothicR.ttf') format('truetype'),
        url('NanumGothicR.otf') format('opentype'),
        url('NanumGothicR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 200;
    src: local('※'),
        url('NanumGothicL.woff2') format('woff2'), 
        url('NanumGothicL.woff') format('woff'),
        url('NanumGothicL.ttf') format('truetype'),
        url('NanumGothicL.otf') format('opentype'),
        url('NanumGothicL.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 300;
    src: local('※'),
        url('NanumGothicL.woff2') format('woff2'), 
        url('NanumGothicL.woff') format('woff'),
        url('NanumGothicL.ttf') format('truetype'),
        url('NanumGothicL.otf') format('opentype'),
        url('NanumGothicL.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('NanumGothicEB.woff2') format('woff2'), 
        url('NanumGothicEB.woff') format('woff'),
        url('NanumGothicEB.ttf') format('truetype'),
        url('NanumGothicEB.otf') format('opentype'),
        url('NanumGothicEB.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 500;
    src: local('※'),
        url('NanumGothicB.woff2') format('woff2'), 
        url('NanumGothicB.woff') format('woff'),
        url('NanumGothicB.ttf') format('truetype'),
        url('NanumGothicB.otf') format('opentype'),
        url('NanumGothicB.eot') format('embedded-opentype');
}

/*notoSerif*/
@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: 100;
    src: ('NotoSerifCJKkr-ExtraLight') format('opentype');
}
@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: 200;
    src: ('NotoSerifCJKkr-Light.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: 300;
    src: ('NotoSerifCJKkr-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: 400;
    src: ('NotoSerifCJKkr-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: 500;
    src: ('NotoSerifCJKkr-SemiBold.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: 600;
    src: ('NotoSerifCJKkr-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: 700;
    src: ('NotoSerifCJKkr-Black.otf') format('opentype');
}



